<footer>
  <div class="siteTitle">
    <h1>Quonference</h1>
  </div>
    <div class="siteLinks">
      <h1>Site</h1>
      <ul>
        <li>
          <a href="/">
            Accueil
          </a>
        </li>
        <li>
          <a href="plans.html">
            Tarifs
          </a>
        </li>
        <li>
          <a href="features.html">
            Fonctionnalités
          </a>
        </li>
        <li>
          <a href="faq.html">
            FAQ
          </a>
        </li>
        <li>
          <a href="aboutus.html">
            A propos
          </a>
        </li>
        <li>
          <a href="politique_de_confidentialite.html">
            Politique de Confidentialité
          </a>
        </li>
        <li>
          <a href="cgv.html">
            Conditions Générales de Vente
          </a>
        </li>
      </ul>
    </div>
    <div class="address">
      <h1>
        Address
      </h1>
      <p>
        73 allée kléber<br>
        34000 Montpellier<br>
        France<br>
        +33 (0)970 449 568<br>
      </p>
    </div>
    <div class="copyright">
      <p id="copyright">© 2021 Copyright Quonference - All right reserved</p>
    </div>
</footer>