
  <header>
     <div class="topnav" id="myTopnav">
      <a href="/"><img src="images/logo.png" /></a>
      <a href="index.html" class="link">Quonference</a>
      <a href="plans.html" class="link">Tarifs</a>
      <a href="features.html" class="link">Fonctionnalités</a>
      <a href="contacts.html" class="link">Contact</a>     
      <a class="actions blueButton" href="signup.html">S'inscrire</a>
      <a class="actions whiteButton" href="signin.html">S'identifier</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>