<footer>
  <div class="siteTitle">
    <h1>Quonference</h1>
  </div>
    <div class="siteLinks">
      <h1>Site</h1>
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="plans.html">
            Plans
          </a>
        </li>
        <li>
          <a href="features.html">
            Features
          </a>
        </li>
        <li>
          <a href="faq.html">
            FAQ
          </a>
        </li>
        <li>
          <a href="aboutus.html">
            About us
          </a>
        </li>
        <li>
          <a href="privacy_policy.html">
            Privacy policy
          </a>
        </li>
        <li>
          <a href="terms.html">
            Terms and conditions
          </a>
        </li>
      </ul>
    </div>
    <div class="address">
      <h1>
        Address
      </h1>
      <p>
        73 allée kléber<br>
        34000 Montpellier<br>
        France<br>
        +33 (0)970 449 568<br>
      </p>
    </div>
    <div class="copyright">
      <p>© 2021 Copyright Quonference - All right reserved</p>
    </div>
</footer>