
  <header>
     <div class="topnav" id="myTopnav">
      <a href="/"><img src="images/logo.png" /></a>
      <a href="index.html" class="link">Quonference</a>
      <a href="plans.html" class="link">Plans</a>
      <a href="features.html" class="link">Features</a>
      <a href="contacts.html" class="link">Contact</a>     
      <a class="actions blueButton" href="signup.html">Sign up</a>
      <a class="actions whiteButton" href="signin.html">Sign in</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </header>